* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

button,
select,
input {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.button {
  border: none;
  outline: none;
  padding: 5px 14px;
  border-radius: 7px;
  background-color: #002233;
  color: #fff;
  border: 1px solid #002233;
}

ul {
  list-style: none;
  font-size: 18px;
}
ul li {
  cursor: pointer;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.wrap {
  position: relative;
}

.clicked {
  font-size: 20px;
  font-weight: bold;
}

@keyframes slideDown {
  0% {
    margin-top: -40px;
  }
  50% {
    margin-top: 0;
  }
  100% {
    margin-top: -40px;
  }
}
.budget-menu__list ul li::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: var(--listColor);
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}
body .header {
  background-color: #E6E9F2;
  padding-top: 30px;
}
body .header .container {
  display: block;
}
body .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header-nav__left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}
body .header-nav__left ul li {
  text-align: center;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  padding: 20px 0;
}
body .header-nav__left ul li:hover {
  border-color: #3544CF;
}
body .header-nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
body .header-nav__right .profile-text {
  font-size: 14px;
  margin-right: 10px;
}
body .header-nav__right .profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #3544CF;
}
body .container {
  display: flex;
}
body .budget {
  padding-top: 20px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
body .budget-menu {
  display: flex;
  justify-content: center;
  margin-right: 150px;
  text-align: left;
}
body .budget-menu__list {
  min-width: 100px;
}
body .budget-menu__list-text {
  display: flex;
}
body .budget-menu__list-text p {
  margin-right: 20px;
}
body .budget-menu__list ul li {
  min-width: 200px;
}
body .budget-menu__list p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
body .budget-menu__add {
  min-width: 150px;
  cursor: pointer;
}
body .budget-menu__add button {
  padding: 5px 10px;
  border: 1px solid #7f4;
  border-radius: 4px;
  background: none;
  outline: none;
  font-size: 16px;
}
body .budget-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .budget-pie {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}
body .budget-pie__categories {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
body .budget-pie__categories .category {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
body .budget-pie__date {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  box-shadow: 0px 1px 20px 0px #584e4e;
  cursor: pointer;
}
body .budget-transactions__list-empty {
  font-size: 20px;
  font-weight: bold;
}
body .budget-transactions__sum {
  font-size: 20px;
  font-weight: bold;
}
body .budget-transactions__add button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #002233;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
body .budget-add button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #002233;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
body .budget-success {
  position: absolute;
  top: 0;
  right: 70px;
  padding: 5px 20px;
  overflow: hidden;
  animation-duration: 3s;
  border-radius: 4px;
  background-color: #3544CF;
  color: #fff;
  margin-top: -40px;
  font-weight: bold;
}
body .add-transaction-popup {
  padding: 15px;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 20px 0px #d0d0d0;
}
body .add-transaction-popup div {
  display: flex;
  flex-direction: column;
  flex: 50%;
  padding: 5px;
}
body .add-transaction-popup div p {
  text-align: left;
}
body .add-transaction-popup select,
body .add-transaction-popup input {
  min-width: 75%;
}
body .add-transaction-popup span {
  color: #c30010;
}
body .add-transaction-popup button {
  border: none;
  outline: none;
  padding: 5px 14px;
  border-radius: 7px;
  background-color: #002233;
  color: #fff;
  border: 1px solid #002233;
}
body .add-transaction-popup .category-cancel button {
  background-color: #fff;
  color: #002233;
}
body .transaction {
  padding: 7px;
  border-bottom: 1px solid #002233;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .transaction div {
  flex: 25%;
}
body .transaction-delete button {
  color: #fff;
  border: none;
  outline: none;
  min-width: 100%;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #3544CF;
}
body .categories-selection-popup {
  width: 300px;
  height: auto;
  padding: 10px;
  background: #fff;
  position: absolute;
  top: 100px;
  left: 50px;
  box-shadow: 0px 0px 20px 0px #d0d0d0;
}
body .categories-selection-popup .categories-selection__list .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor: pointer;
}
body .categories-selection-popup .categories-selection__list .category p {
  min-width: 110px;
}
body .categories-selection-popup .categories-selection__button {
  text-align: center;
}
body .closed {
  display: none !important;
}/*# sourceMappingURL=main.css.map */