* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

ul li{
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    

    &::before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        background-color: var(--listColor);
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle;
    }
}

body {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        .budget {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            text-align: center;

            &-menu {
                margin-right: 300px;
                text-align: left;

                p {
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }

            &-pie {
                width: 500px;
                height: 500px;
                border-radius: 50%;
                background-color: #023f;
                position: relative;
                margin-bottom: 50px;
                

                &__categories {
                    width: 500px;
                    height: 500px;
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;

                    .category {
                        width: 500px;
                        height: 500px;
                        border-radius: 50%;
                        border: 1px solid #333;
                        text-align: center;
                        color: #fff;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                &__date {
                    width: 200px;
                    height: 200px;
                    background-color: #fff;
                    border-radius: 50%;
                    border: 1px solid #333;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 20px;
                }
            }

            &-add {
                button {
                    padding: 10px 20px;
                    border-radius: 5px;
                    background-color: #023f;
                    border: none;
                    outline: none;
                    color: white;
                    cursor: pointer;
                }
            }
        }

        .add-popup {
            width: 300px;
            height: 500px;
            background-color: #fff;
            border: 1px solid grey;
            position: absolute;
            top: 20%;
            right: 10%;
        }

        .category-popup {
            width: 400px;
            height: auto;
            padding: 5px;
            background-color: #fff;
            border: 1px solid #333;
            position: absolute;
            top: 200px;
            right: 320px;

            .transaction {
                padding: 7px;
                border: 1px solid #023f;
                margin-bottom: 5px;
            }
        }

        .closed {
            display: none;
        }
    }
}